#ICAT Dashboard Properties

#ICAT you want to connect to. In the form of a URL
icat.url=

#Reader Account
authenticator= 
userName=
password=

#Functional accounts. Set as nmeonic/name e.g. uows/10422 simple/test
functional_accounts =

#Accounts allowed to login. Set as uows/1054444 simple/test
authorised_accounts = 

#The hour (24 hour clock) in which the dashboard will collect its daily warehouse data.
collectionTime=1

#TopCat Admin login Information
topCatURL= https://topcat.facility.ac.uk

# Uncomment to permit configuration of logback
!logback.xml = dashboard.logback.xml


