# Glassfish
secure         = true
container      = Glassfish
home           = /home/admin/glassfish4
port           = 4848

# WildFly
!secure         = false
!container      = wildfly
!home           = /home/fisher/pf/wildfly
!port           = 9990

#ids address without the protocol prefix or port number
ids.address    = 

#icat address without the protocol prefix or port number
icat.address   =

#oracle
db.driver      = oracle.jdbc.pool.OracleDataSource
db.url         = 
db.username    = 
db.password    = 

# Optional oracle
!db.target = Oracle11
!db.logging = FINE

# MySQL
!db.vendor      = mysql
!db.driver      = com.mysql.jdbc.jdbc2.optional.MysqlDataSource
!db.url         = jdbc:mysql://localhost:3306/icat
!db.username    = icat
!db.password    = secret


# Optional MySQL
!db.target      = MySQL
!db.logging     = FINE