# Glassfish
secure         = true
container      = glassfish
home           = /home/admin/glassfish4
port           = 4848

# WildFly
!secure         = false
!container      = wildfly
!home           = /home/fisher/pf/wildfly
!port           = 9990

#ids without the protocol prefix
ids.address    = 

#icat without the protocol prefix
icat.address   =

#oracle
db.vendor      = oracle
db.driver      = oracle.jdbc.pool.OracleDataSource
db.url         = 
db.username    = 
db.password    = 

# MySQL
!db.vendor      = mysql
!db.driver      = com.mysql.jdbc.jdbc2.optional.MysqlDataSource
!db.driver      = mysql-connector-java-5.1.30-bin.jar_com.mysql.jdbc.Driver_5_1
!db.url         = jdbc:mysql://localhost:3306/icat
!db.username    = icat
!db.password    = secret
