<div class="row" ng-init="download.updatePage()">
	<div class="col-lg-3 col-lg-offset-1 col-sm-4">
		<div class="box">
			<div class="text-format">					
					<h2>Total Volume</h2>
					<h3>{{download.volume.total }}</h3>					
					<h2>Busiest Day</h2>
					<h3>{{download.volume.busiestDay}}</h3>
			</div>
		</div>	
	</div>
	<div class="col-lg-4 col-sm-4">
		<div class="box">
			<div class="text-format">					
					<h2>Total Downloads</h2>
					<h3>{{download.count.total}}</h3>					
					<h2>Busiest Day</h2>
					<h3>{{download.count.busiestDay}}</h3>
			</div>
		</div>	
	</div>
	<div class="col-lg-3 col-sm-4">
		<div class="box">	
			<div class="text-format">					
				<h2>Highest Bandwidth</h2>
				<h3>{{download.bandwidth.highest }}</h3>					
				<h2>Lowest Bandwidth</h2>
				<h3>{{download.bandwidth.lowest }}</h3>
			</div>
		</div>
	</div>
</div>

<div class="row" >  
    <div class="col-lg-10 col-lg-offset-1 "> 
        <div class="box search-box col-lg-12">
            <div class="col-lg-2 col-lg-offset-1">
                <p class="input-group">
                    <input type="text" tooltip-placement="top" uib-tooltip="Start Date" uib-datepicker-popup="{{download.format}}" class="form-control" ng-model="download.startDate" is-open="download.isStartDateOpen" close-text="Close" placeholder="Start Date" on-return-click-submit-button />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="download.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-2 search-bar" >    
                <p class="input-group">
                    <input type="text" tooltip-placement="top" uib-tooltip="End Date" uib-datepicker-popup="{{download.format}}" class="form-control" ng-model="download.endDate" is-open="download.isEndDateOpen" close-text="Close" placeholder="End Date" on-return-click-submit-button />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="download.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p> 
           </div>        
           <div class="col-lg-2 search-bar" class="search-bar">
                <input type="text" class="form-control " ng-model="download.userName" placeholder="User"/>
            </div>            
            <div class="col-lg-2 search-bar" class="search-bar">       	
	            <select class="form-control" placeholder="Download Method" ng-model="download.selectedMethod" ng-options=" downloads.method as downloads.method for downloads in download.downloadMethodTypes">
	            	<option value="" disabled selected>Download Method</option>

	            </select>	                      
            </div>
            <div class="col-lg-2">   
                
                <button type="submit" class="form-control btn btn-default" ng-click="download.updatePage()" > Search</button>
                </form>  
            </div>                                                
        </div>
    </div>                        
</div> 



<div class="row">
	<div class="col-lg-5 col-lg-offset-1 ">
		<div class="box">
			<p class="graph-title">Global Locations 
				<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true"  uib-tooltip="{{download.globalLocationDescription}}"><i class=" fa fa-question-circle fa-lg"></i></button>
			</p>

			</p>
				
			<div google-chart  chart="download.worldChart" >  	
		    </div>
	    </div>
	</div>    

	<div class="col-lg-5">
		<div class="box">
			<p>Local Locations			
			<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true"  uib-tooltip="{{download.localLocationDescription}}"><i class=" fa fa-question-circle fa-lg"></i></button>
			<select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.europeOptions track by options.geoCode" > 		<option value="" disabled selected>Europe</option>
		    </select>
		    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.africaOptions track by options.geoCode" >       <option value="" disabled selected>Africa</option>
		    </select>
		    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.asiaOptions track by options.geoCode" >       <option value="" disabled selected>Asia</option>
		    </select>
		    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.americasOptions track by options.geoCode" >    <option value="" disabled selected>Americas</option>
		    </select>
			</p>	
			<div google-chart chart="download.localChart">

		</div>	
		
		

    	
        </select>
		
		
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-1 ">					
		<entity-Age-Scatter class="chart" data='download.entityAge'></entity-Age-Scatter>		
	</div>
	<div class="col-lg-6 ">		
		<download-count-line class="chart" data='download.count'></download-count-line>			
	</div>
</div>


<div class="row">
	<div class="col-lg-6 col-lg-offset-1 ">		
		<isp-bandwidth-bar class="chart" data='download.ispBandwidth'></isp-bandwidth-bar>	
	</div>		
	<div class="col-lg-4 ">		
		<methods-number-donut class="chart" data='download.method'></methods-number-donut>			
	</div>	
</div>	

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">		
		<download-size-bar class="chart" data='download.volume'></download-size-bar>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">	
		<div class="box">
			<p>Downloads Table</p>
			<div ui-grid="download.gridOptions" ></div>
        
      		</div>
  
		</div>
	</div>

</div>





