<div class="row" ng-init="download.initPage()">
	<div class="col-lg-3 col-lg-offset-1 col-sm-4">
		<div class="box">
			<div class="text-format">					
					<h2>Total Volume</h2>
					<h3>{{download.volume.total }}</h3>					
					<h2>Busiest Day</h2>
					<h3>{{download.volume.busiestDay}}</h3>
			</div>
		</div>	
	</div>
	
	<div class="col-lg-4 col-sm-4">									
		<gauge class="chart" data='download.statusNumber' select-Options= "download.updateDownloadStatus(value)" ></gauge>
	</div>						
		
		
	<div class="col-lg-3 col-sm-4">
		<div class="box">
			<div class="text-format">					
				<h2>Total Downloads</h2>
				<h3>{{download.count.total}}</h3>					
				<h2>Busiest Day</h2>
				<h3>{{download.count.busiestDay}}</h3>
			</div>
		</div>	
	</div>
</div>


<search-bar select-values= "download.updateOptions(startDate,endDate,userName)" csv-data="download.dataCsv" user-option="download.userOption"></search-bar>


<div class="row">
	<div class="col-lg-5 col-lg-offset-1 ">
		<div class="box">
			<p class="graph-title">Global
				<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true"  uib-tooltip="{{download.globalLocationDescription}}"><i class=" fa fa-question-circle fa-lg"></i></button>
			</p>			
				
			<div google-chart  chart="download.worldChart" ></div>
	    </div>
	</div>    

	<div class="col-lg-5">
		<div class="box">
			<div class="internal-row row">
				<div class="col-lg-2">
					<p>Local</p>
				</div>

				<div class="col-lg-2">
					<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true"  uib-tooltip="{{download.localLocationDescription}}"><i class=" fa fa-question-circle fa-lg"></i></button>
				</div>
				<div class="col-lg-2">
					<select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.europeOptions track by options.geoCode" > 		<option value="" disabled selected>Europe</option>
			    	</select>
			    </div>	
			    <div class="col-lg-2">
				    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.africaOptions track by options.geoCode" >       <option value="" disabled selected>Africa</option>
				    </select>
				</div>
				<div class="col-lg-2">    
				    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.asiaOptions track by options.geoCode" >       <option value="" disabled selected>Asia</option>
				    </select>
			    </div>
			    <div class="col-lg-2">
				    <select class="sub-menu btn btn-primary btn-sm" ng-change="download.changeRegion()" ng-model="download.selectedRegion" ng-options="options.area for options in download.americasOptions track by options.geoCode" >    <option value="" disabled selected>Americas</option>
				    </select>
				</div>
			</div>
			<div class="row">
				<div google-chart chart="download.localChart"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 col-lg-offset-1 ">					
		<scatter class="chart" data='download.entityAge' select-Options= "download.updateDownloadEntityAge(value)"></scatter>			
	</div>
	<div class="col-lg-6 " select-Options= "entity.updateEntityCount(value)">		
		<time-line-graph class="chart" data='download.count' select-Options= "download.updateDownloadFrequency(value)"></time-line-graph>			
	</div>
</div> 



<div class="row">
	<div class="col-lg-6 col-lg-offset-1 ">		
		<stacked-bar class="chart" data='download.ispBandwidth' select-Options= "download.updateISPBandwidth(value)"></stacked-bar>	
	</div>		
	<div class="col-lg-4 ">		
		<donut class="chart" data='download.method'></donut>			
	</div>	
</div>	

<div class="row">
	<div class="col-lg-4 col-lg-offset-1">		
		<donut class="chart" data='download.users' select-Options= "download.updateUserDownload(value)"></donut>			
	</div>
	<div class="col-lg-6 ">		
		<time-line-graph class="chart" data='download.volume' select-Options= "download.updateDownloadVolume(value)" ></time-line-graph>			
	</div>	
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">	
		<div class="box">
			<p>Downloads Table</p>
			<div ui-grid="download.gridOptions"  ui-grid-infinite-scroll ></div>        
      	</div>  
	</div>
</div>





