<div class="row">
	<div id="box" class="col-lg-10 col-lg-offset-1">
		<div class="chart-container">	
			<p>Download Count</p>			
			<line-time-Series id="chart" data='downloadCount'></line-time-Series>
			
		</div>
	</div>
</div>

<div class="row">
	<div id="box" class="col-lg-4 col-lg-offset-1">
		<div class="donut-route" >
			<p>Download Methods</p>
			<donut-chart id="chart" data='downloadRoutes'></donut-chart>
		</div>	
	</div>	

	<div id="box" class="col-lg-6">
		<div>
			<p>Download Bandwidth</p>
			<scatter-time-series id="chart" data='downloadBandwidth'></scatter-time-series>
		</div>
	</div>
</div>	

<div class="row">
	<div id="box" class="col-lg-10 col-lg-offset-1">
		<div class="chart-container">
			<p>Download Size</p>
			<bar-time-series id="chart" data='downloadSize'></bar-time-series>
		</div>
	</div>	


</div>

	










