<div ng-init="entity.initPage()" >               

    <search-bar select-values= "entity.updateDates(startDate,endDate)" csv-data="entity.dataCsv" user-option="entity.userOption"></search-bar>

    <div class="row">   
        
        <div class="col-lg-5 col-lg-offset-1 ">     
            <time-line-graph class="chart" data='entity.insDataFileCount' select-Options= "entity.updateInsDfCount(value)"></time-line-graph>         
        </div>
        <div class="col-lg-5">     
            <time-line-graph class="chart" data='entity.insDataFileVolume' select-Options= "entity.updateInsDfVolume(value)"></time-line-graph>         
        </div>
    </div> 

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <time-line-graph class="chart" data='entity.countEntity' select-Options= "entity.updateEntityCount(value)"></time-line-graph> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <donut class="chart" data='entity.investigationDatafile'></donut>        
        </div>
         <div class="col-lg-5">     
            <time-line-graph class="chart" data='entity.dataFileVolume'></time-line-graph>         
        </div>
    </div>

</div>