<div class="box">
	<div class="chart-container">	

		<p>
			{{title}} 
			<select class="sub-menu btn btn-primary btn-sm" ng-show="selectOp" ng-model="selectedValue" ng-change="selectOptions({value:selectedValue})" ng-options="options.name as options.name for options in selectOp" ng-init="selectedValue = selectOp[0].name" > 
			<option value="" disabled selected>{{selectTitle}}</option>

			
             </select>  
			
			
			
			<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true" ng-repeat="op in options" ng-click="changeData(op)">{{op}}</button>
			<button ng-show=zoom type="button" class="sub-menu btn btn-primary btn-sm" ng-click="reset()"><i class="fa fa-refresh"></i></button>
			<button type="button" class="sub-menu btn btn-primary btn-sm" tooltip-append-to-body="true"  uib-tooltip="{{description}}"><i class=" fa fa-question-circle fa-lg"></i></button>
		</p>
		<div class="graphAnchor"></div>
		
	</div>
</div>		

						
