 <div class="col-lg-10 col-lg-offset-1 "> 
        <div class="box search-box col-lg-12">
            <div class="col-lg-3">
                <p class="input-group">
                    <input type="text" tooltip-placement="top" uib-tooltip="Start Date" uib-datepicker-popup="{{searchBarCtrl.format}}" class="form-control" ng-model="searchBarCtrl.startDate" is-open="searchBarCtrl.isStartDateOpen" close-text="Close" placeholder="Start Date" on-return-click-submit-button />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="searchBarCtrl.openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3 search-bar" >    
                <p class="input-group">
                    <input type="text" tooltip-placement="top" uib-tooltip="End Date" uib-datepicker-popup="{{searchBarCtrl.format}}" class="form-control" ng-model="searchBarCtrl.endDate" is-open="searchBarCtrl.isEndDateOpen" close-text="Close" placeholder="End Date" on-return-click-submit-button />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="searchBarCtrl.openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p> 
           </div>        
                    
            
            <div class="col-lg-3">                
                <button type="submit" class="form-control btn btn-default" ng-click="searchBarCtrl.updateDates()" > Search</button>                
            </div>  
            <div class="csvAnchor col-lg-3">
                <button type="submit" class="form-control btn btn-default" ng-click="searchBarCtrl.downloadCsv()" > Download Data</button>   
            </div>                                              
        </div>
    </div> 