
<search-bar select-values= "user.updateOptions(startDate,endDate,userName)" csv-data="user.dataCsv" user-option="user.userOption"></search-bar>
<div class="row" ng-init="user.initPage()">
    <div class="col-lg-5 col-lg-offset-1 ">     
            <time-line-graph class="chart" data='user.loginFrequency' ></time-line-graph>            
    </div>
    <div class="col-lg-5">     
            <time-line-graph class="chart" data='user.loginUniqueFrequency' ></time-line-graph>            
    </div>
</div>

<div class="row" >
    <div class="col-lg-10 col-lg-offset-1"> 
        <div class="box">
            <p>Logged in Users</p>
            <logged-users data="user.loggedUsers"></logged-users>
                    
        </div>  
    </div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">	
		<div class="box">
			<p>Log Table</p>
			<div ui-grid="user.gridOptions" ui-grid-infinite-scroll ui-grid-resize-columns ui.grid.moveColumns ></div>        
      	</div>  
	</div>
</div>




