<div class="row">
    <div class="col-lg-10 col-lg-offset-1"> 
        <div class="box">
            <p>Logged in Users</p>
            <logged-users data="user.loggedUsers"></logged-users>
                    
        </div>  
    </div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">	
		<div class="box">
			<p>Log Table</p>
			<div ui-grid="user.gridOptions" ui-grid-infinite-scroll ui-grid-resize-columns ui.grid.moveColumns ></div>        
      	</div>  
	</div>
</div>




