    <!doctype html>
    <html>
    <head >
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <link rel="stylesheet" href="bower_components/angular-inform/dist/angular-inform.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    </head>
    <body ng-app="dashboardApp" ng-controller="IndexController as ic">
     <!-- Begin page content -->
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->          


    <div id="inform" inform class="inform-fixed inform-shadow"></div>

    <div class="container-fluid ">
    <div id="header" class="row">
        <div class="col-lg-8"> 
          <p class="navbar-brand"><span class="fa fa-bar-chart lg"></span> Dashboard</p>                 
        </div>
        <div class="sidebar-wrapper" >                          
              <ul class="nav nav-pills">
                <a ng-if="ic.isLoggedIn()" ui-sref="logout"><li class="fa fa-unlock" ></li> Logout</a>
                <a ng-if="!ic.isLoggedIn()" ui-sref="login"><li class="fa fa-lock"></li> Login</a>                
                <a ui-sref="users"><li class="fa fa-users"></li> Users</a>          
                <a ui-sref="entities"><li class="fa fa-archive"></li> Entities</a>
                <a ui-sref="downloads"><li class="fa fa-download"></li> Downloads</a>
                
              </ul> 

            </div>
        
    </div> 
    <div id="main-row" class="row">     
        <div id="main-box" ng-class="col-lg-12" >
            <div class="row">  
                <div class="col-lg-10 col-lg-offset-1 " ng-show="ic.isLoggedIn()"> 
                    <div class="box search-box col-lg-12">              
                        <div class="col-lg-6">
                            <div class="date-picker">
                                <input type="daterange" class="date-picker" ng-model="myDateRange" />
                                <span class="fa fa-calendar calendar"></span>
                            </div> 
                        </div>
                        <div class="col-lg-6">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">                                 
                                 Export Data
                                 </button>
                                <ul class="dropdown-menu">
                                    <li><a>JSON</a></li>                                                    
                                </ul>
                                
                            </div>  
                        </div>                         
                    </div>
                </div>                        
            </div>  
                <div ui-view=""></div>   
            </div>                
        </div>
        
    </div>      




    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/c3/c3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-inform/dist/angular-inform.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/datamaps/dist/datamaps.all.js"></script>
    <script src="bower_components/angular-datamaps/dist/angular-datamaps.min.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="//localhost:35729/livereload.js"></script>
    <script src="scripts/app.js"></script> 
    <!-- Services -->       
    <script src="scripts/services/loginService.js"></script>
    <script src="scripts/services/downloadService.js"></script>
    <script src="scripts/services/httpInterceptorService.js"></script>
    <script src="scripts/services/authenticateService.js"></script>
    <!-- Controllers -->
    <script src="scripts/controllers/loginCtrl.js"></script>
    <script src="scripts/controllers/downloadControllers/downloadCtrl.js"></script> 
    <script src="scripts/controllers/downloadControllers/worldChartCtrl.js"></script>
    <script src="scripts/controllers/downloadControllers/localChartCtrl.js"></script>  
    <script src="scripts/controllers/entityCtrl.js"></script>
    <script src="scripts/controllers/userCtrl.js"></script>
    <script src="scripts/controllers/indexCtrl.js"></script>
    <script src="scripts/controllers/logoutCtrl.js"></script>
    <script src="scripts/controllers/downloadControllers/worldChartCtrl.js"></script>
    <!-- Directives -->
    <script src="scripts/directives/downloadDirectives/donutChart.js"></script>
    <script src="scripts/directives/downloadDirectives/lineTimeSeries.js"></script>   
    <script src="scripts/directives/downloadDirectives/statsMap.js"></script>
    <script src="scripts/directives/downloadDirectives/scatterTimeSeries.js"></script>
    <script src="scripts/directives/downloadDirectives/barTimeSeries.js"></script>
   
    

    <!-- Additional -->
   

     <!-- endbuild -->
    </body>
    </html>
