<html>
<head>
<title>Dashboard Installation</title>
</head>
<body>



	<h1>Installation</h1>

	<h2>Compatibility</h2>
	<p>For the Dashboard to work it must be connected to an ICAT version of 4.7.0 or greater, TopCat 2.0.0 or greater and requires 
		ids.server 1.6.0 or greater. </p>

	<h2>Prerequisites</h2>

	<ul>
		<li>The dashboard distribution: <a
			href="${repoUrl}/org/icatproject/dashboard/${project.version}/dashboard-${project.version}-distro.zip">dashboard-${project.version}-distro.zip</a>
		</li>
		
		<li>A database as described in <a
			href="http://icatproject.org/installation/database/">Database
				installation instructions</a> installed on the server
		</li>

		<li>A suitable deployed container (here assumed to be glassfish
			though tomcat should be sufficient) to support a web application.
			Testing has been carried out with Glassfish 4.0 and above. <a
			href="http://icatproject.org/installation/glassfish/">Glassfish
				installation instructions</a> are available.
		</li>
		

		<li>Python (version 2.4 to 2.7) installed on the server.</li>
                
                <li>Python module lxml.</li>
                
                <li>The IDS must have its logging level set to READ WRITE PREPARE.</li>

                <li>If the IDS and ICAT are on Linux machines the Dashboard machine must have access to 
                    the ephemeral port ranges. For example Linux Kernel 2.4 has a default range of 32768 to 61000</li>
                
	</ul>

	<h2>Summary of steps</h2>


	<ol>
		<li>Please follow <a
			href="http://icatproject.org/installation/component/"> the
				generic installation instructions</a>
		</li>
                
                <li>If it is the first time you are installing the Dashboard you will 
                    need to run the import script. </li>

		<li>Check that it works.</li>
	</ol>

        <h2>ICAT transfer script</h2>

        <p>This is a python script that will perform an initial database transfer of data from the ICAT to the dashboard. </p>

        <p>To run the script:</p>

        <code>icat_transfer --vendor </code> <p>The vendor option is currently either --oracle or --mysql </p>

        <h3>Prerequisites</h3>

        <ul>
		<li>The database for the dashboard must be empty to prevent data clashes. </li>
                <li>IFF Oracle Databases: Python package cx_Oracle is installed.</li>
                <li>IFF MySql Databases: Python package pymysql is installed.</li>
              
	</ul>

        <h3>The icat_transfer.ini file</h3>

        <p>There will be [Options] for the ICAT and Dashboard Database</p>
        <dl>
		<dt>oracle.username</dt>
		<dd>The username used to login into the Oracle database.</dd>
                <dt>oracle.password</dt>
		<dd>The password used to login into the Oracle database.</dd>
                <dt>oracle.url</dt>
		<dd>The URL of the Oracle database.</dd>
                
                <dt>mySql.host</dt>
		<dd>The username used to login into the MySql database.</dd>
                <dt>mySql.port</dt>
		<dd>The port of the MySql database.</dd>
                <dt>mySql.password</dt>
		<dd>The password used to login into the MySql database.</dd>
                <dt>mySql.db</dt>
		<dd>The schema name of the MySql database.</dd>
	</dl>

        

	<h2>The dashboard-setup.properties file</h2>

	<dl>
		<dt>container</dt>
		<dd>May be either glassfish or wildfly - though only glassfish is
			working properly at the moment.</dd>
		<dt>home</dt>
		<dd>is the top level of the container installation. For
			glasssfish it must contain "glassfish/domains" and for wildfly it
			must contain jboss-modules.jar.</dd>
		<dt>port</dt>
		<dd>is the administration port of the container which is
			typically 4848 for glassfish and 9990 for wildfly.</dd>
		<dt>secure</dt>
		<dd>must be set to true or false. If true then only https and not
			http connections will be allowed.</dd>		
		<dt>db.driver</dt>
		<dd>is the name of the jdbc driver and must match the jar file
			for your database that you stored in the previous step.</dd>
		<dt>db.url</dt>
		<dd>url to connect to your database. For example:
			jdbc:mysql://localhost:3306/icat</dd>
		<dt>db.username</dt>
		<dd>username to connect to your database.</dd>
		<dt>db.password</dt>
		<dd>password to connect to your database.</dd>
		<dt>ids.server</dt>
		<dd>the url of the IDS server that will send JMS messages to the dashboard. For example: idsdev.facility.ac.uk. Please note no prefix.</dd>
                <dt>icat.server</dt>
		<dd>the url of the ICAT server that will send JMS messages to the dashboard.For example: icatdev.facility.ac.uk. Please note no prefix.</dd>
                <dt>db.target</dt>
		<dd>
			This is optional and may be used to control the SQL generated by the
			JPA. Values must be chosen from: <a target="_blank"
				href="http://www.eclipse.org/eclipselink/api/2.6/org/eclipse/persistence/config/TargetDatabase.html">TargetDatabase</a>
		</dd>
		<dt>db.logging</dt>
		<dd>
			This is optional and if set to one of the values in <a
				target="_blank"
				href="http://www.eclipse.org/eclipselink/documentation/2.6/jpa/extensions/persistenceproperties_ref.htm#CHDGFDDH">Eclipse
				Link logging.level</a> controls the logging of JPA generated SQL
			statements.
		</dd>
                
		
	</dl>


	<h2>The dashboard.properties file</h2>

	<dl>
		<dt>icat.url</dt>
		<dd>
			The url of the machine hosting the icat service. It should normally
			just have the scheme, the hostname and the port. For example:
			<code>https://example.com:443</code>
		</dd>

		<dt>authenticator</dt>
		<dd>The authenticator mnemonic for the ICAT reader account for the dashboard.</dd>

		<dt>userName</dt>
		<dd>Username of the ICAT reader account for the dashboard.</dd>

		<dt>password</dt>
		<dd>Password of the ICAT reader account for the dashboard.</dd>

		<dt>authorised_accounts</dt>
		<dd>List of accounts in the format mnemonic/name to be allowed access to the dashboard.</dd>

                <dt>collectionTime</dt>
		<dd>The hour that the Dashboard should do its daily collection of data from the ICAT. (24 Hour Clock)</dd>

		<dt>topCatURL</dt>
		<dd>The URL of the TopCat to gather download statistics.</dd>

		
	</dl>

	

	<h2>Check that the dashboard works</h2>
	<p>
		Enter a url of the form
		<code>https://example.com/dashboard/ping</code>
		into a web browse and it should respond:
		<code>The Dashboard is doing fine!</code>
		
	</p>

        <h1>
		<a id="post"></a> Post-installation work
	</h1>
	

        <h2>Fresh Install</h2>

            For the Dashboard to start collecting daily information on the ICAT use and
            to collect meta information on the ICAT from its inception then you will need 
            to run the ICAT transfer python script.

        <h2>In all cases</h2>   

        <h1>
		<a id="performance"></a> Performance
	</h1> 

	To improve performance:
	<ul>
		<li>Consider creating the indices defined in indices.sql. Indices
			can make a huge difference to the database performance but there is
			also a small cost for each index.</li>
		
	</ul>

</body>
</html>

